In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df=pd.read_csv('UScomments.csv',on_bad_lines="skip")
df.head()

C:\Users\vicky kumar\AppData\Local\Temp\ipykernel_22248\2684919692.py:1: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('UScomments.csv',on_bad_lines="skip")

,video_id,comment_text,likes,replies
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‚ÄºÔ∏è‚ÄºÔ∏è‚ÄºÔ∏è,4,0
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0
3,XpVt6Z1Gjjo,MY FAN . attendance,3,0
4,XpVt6Z1Gjjo,trending üòâ,3,0

In [12]:
df['video_id'].value_counts()

video_id
XpVt6Z1Gjjo    800
sjlHnJvXdQs    800
WYYvHb03Eog    800
4X6a3G_0HjY    800
CYoRmfI0LUc    800
              ...
mShBE_wHAk8      1
HjfN2Phsfng      1
c5RsAXsZvI8      1
94U8bow4CU4      1
mi52IqpOp54      1
Name: count, Length: 2266, dtype: int64

In [13]:
df.describe()

           video_id comment_text   likes  replies
count        691400       691374  691400   691400
unique         2266       434075    1284      479
top     XpVt6Z1Gjjo          Lol       0        0
freq            800          310  456894   525730